.Summary {
  padding: 0;
}

.Summary__inner {
  padding: var(--spacing-large) calc(15vw + var(--spacing));
  box-sizing: border-box;
  background-color: var(--color-light-grey);

  @media (width <= 800px) {
    padding: var(--spacing-large) var(--spacing);
  }
}

.Summary__inner > * {
  margin-bottom: var(--spacing-small);
}

.Summary__inner > h4 {
  margin-bottom: var(--spacing-smallest);
  max-width: none;
}
