.Summary {}

.Summary__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--spacing-small);
  padding: var(--spacing-large) var(--spacing-small);
  box-sizing: border-box;
  padding-bottom: var(--spacing-smallest);
  background-color: var(--color-accent);
  color: var(--color-text-on-accent);
}

.Summary__inner > * {
  margin-bottom: var(--spacing-small);
  max-width: calc(var(--text-content-max-width) / 2);
}

.Summary__inner > h4 {
  margin-bottom: var(--spacing-smallest);
  max-width: none;
}

.Summary__inner > :first-child {
  width: 100%;
  max-width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--spacing-medium);

  @media (width >= 1024px) {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row-start: span 10;
    max-width: none;

    & > * {
      max-width: 300px;
    }
  }
}
