.CallToAction {}

.CallToAction__inner {
  box-sizing: border-box;
  padding: var(--spacing);
  background-color: var(--color-light-gray);
  color: var(--color-text-on-background);
  text-align: center;
  transition-property: background-color;
  transition-duration: var(--animation-duration-super-slow);
  transition-timing-function: var(--animation-ease);

  &:hover {
    background-color: var(--color-background);
  }

  & > * {
    margin-top: var(--spacing-small);
    text-align: center;

    &:first-child {
      margin-top: 0;
    }
  }
}

.CallToAction__inner > .ChapterRow {
  & > * {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-small);
    align-items: center;

    & > * {
      text-align: center;
    }

    @media (width >= 1024px) {
      margin-bottom: 0;
    }
  }
}
