.CallToAction {

}

.CallToAction.CallToAction--grid .CallToAction__inner {

  @media (width >= 1024px) {
    display: flex;
  }

  & > * {

    @media (width >= 1024px) {
      margin-top: 0;
      width: 50%;
    }
  }
}

.CallToAction__inner {
  box-sizing: border-box;
  padding: var(--spacing);
  background-color: var(--color-black);
  color: var(--color-white);
  transition-property: background-color;
  transition-duration: var(--animation-duration-super-slow);
  transition-timing-function: var(--animation-ease);

  & > * {
    margin-top: var(--spacing-small);

    &:first-child {
      margin-top: 0;
    }
  }
}

.CallToAction__inner > .ChapterRow {
  & > * {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-small);
    align-items: center;

    & > * {
      text-align: center;
    }

    @media (width >= 1024px) {
      margin-bottom: 0;
    }
  }
}
