.CaseCards {
  display: block;

  box-sizing: border-box;
  max-width: var(--content-max-width);
  margin: 0 auto;

  @media (width >= 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: calc(var(--spacing) / 2);
    align-items: flex-start;
  }
}

.CaseCards > * {
  margin-bottom: var(--spacing);

  @media (width >= 768px) {
    &:nth-child(even) {
      position: relative;
      top: var(--spacing);
    }

    &:nth-child(3) {
      margin-top: calc(var(--spacing) * -1);
    }
  }
}
