.Clients {
  display: none;
  
  @media (width >= 768px) {
    display: block;
  }
}

.Clients > h1,
.Clients > p {
  max-width: var(--narrow-content-max-width);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.Clients > * {
  margin-top: var(--spacing-small);

  &:first-child {
    margin-top: 0;
  }
}

.Clients > .LogoGrid {
  margin-top: calc(var(--spacing-small) * 1.4);
}
