.ImageRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.ImageRow > * {
  flex: 1;
  margin-right: var(--spacing-small);

  &:last-child {
    margin-right: 0;
  }
}
