.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: inherit;
  text-decoration: none;
  padding-bottom: calc(var(--spacing-small) * 0.75);
  box-sizing: border-box;

  transition-property: transform box-shadow;
  transition-duration: 200ms;
  transition-timing-function: var(--animation-ease);
}

.Card:hover .Image:before {
  opacity: 1;
}

.Card > * {
  width: 100%;
  margin-top: calc(var(--spacing-small) / 2);
  box-sizing: border-box;

  &:first-child {
    margin-top: 0;
    padding: 0;
  }
}

.Card > p {
  margin-top: 0;
  opacity: 0.5;
}

.Card > h4 > span {
  width: calc(100%);
  background-image: linear-gradient(transparent calc(100% - 2px), black 2px);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 400ms;
}

.Card:hover > h4 > span {
  background-size: 100% 100%;
}

.Card .Image {

  &:before {
    content: 'View project';
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: var(--color-blue);
    color: var(--color-white);
    z-index: 9;
    opacity: 0;
    transition-duration: 200ms;
    transition-timing-function: var(--animation-ease);
  }
}
