.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: inherit;
  text-decoration: none;
  padding-bottom: var(--spacing-small);

  transition-property: transform box-shadow;
  transition-duration: 200ms;
  transition-timing-function: var(--animation-ease);

  &:hover {
    box-shadow: 0 4px 10px -3px rgba(0, 0, 0, 0.1);
    transform:
      translate3d(0, -4px, 0)
      scale3d(1.005, 1.005, 1);
  }

}

.Card > * {
  margin-top: var(--spacing-small);
  text-align: center;

  &:first-child {
    margin-top: 0;
  }
}

.Card > p {
  opacity: 0.5;
  text-transform: uppercase;
}
