.Home {
  padding-bottom: var(--spacing);
}

.Home > .Nudge {
  padding: 0 var(--spacing);
}

.Home > .Clients {
  padding: 0 var(--spacing);
  margin-top: var(--spacing);
}

.Home > .CallToAction {
  margin-top: var(--spacing);

  @media (width >= 768px) {
    margin-left: var(--spacing);
    margin-right: var(--spacing);
  }
}
