.Home {

}

.Home > .CaseCards {
  padding: 0 var(--spacing);
}

.Home > .Clients {
  padding: 0 var(--spacing);
}

.Home > .CallToAction {
  margin: 0 var(--spacing);
  margin-top: calc(var(--spacing) * 2);

  /* TODO: REMOVE THIS */
  margin-bottom: calc(var(--spacing) * 2);
}
