.Home {
  display: block;
  box-sizing: border-box;
  min-height: 100vh;
}

.Home > * {
  animation-name: fadeIn;
  animation-duration: var(--animation-duration-super-fast);
  animation-iteration-count: 1;
}



.Home > .Nudge > .CaseCards {
  padding: 0 var(--spacing);
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
}

.Home > .Clients {
  max-width: var(--content-max-width);
  padding: 0 var(--spacing);
  margin-top: var(--spacing);
  margin-left: auto;
  margin-right: auto;
}

.Home > .CallToAction {
  margin-top: calc(var(--spacing) * 2);

  @media (width >= 768px) {
    max-width: var(--content-max-width);
    padding: 0 var(--spacing);
    margin-left: auto;
    margin-right: auto;
  }

  @media (width >= 1024px) {
    margin-top: var(--spacing);
  }
}


.Home > .LatestBlogPosts {
  margin-top: calc(var(--spacing) * 2);
  margin-bottom: calc(var(--spacing) * 2);

  @media (width >= 1024px) {
    margin-top: calc(var(--spacing) * 2);
    margin-bottom: var(--spacing);
  }
}


@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
