.Page {
  padding: 0;
}




.Page__inner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: calc(var(--spacing-small) * 4);
  padding-bottom: var(--spacing);
  box-sizing: border-box;
}




.Page__inner > * {
  margin-top: var(--spacing);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.Page__inner > .SubTitle {
  margin-top: var(--spacing-small);
}

.Page__inner > hr {
  width: 60px;
  margin-left: var(--spacing);
  margin-top: var(--spacing-small);
  padding-left: 0;
  padding-right: 0;
  border: 0;
  height: 2px;
  background-color: var(--color-text-on-background);
}

.Page__inner > .Keywords  {
  margin-top: var(--spacing-small);
}




.Page__inner > .Image,
.Page__inner > .ImageRow {
  padding-left: 0;
  padding-right: 0;
  margin-left: var(--spacing);
  margin-right: var(--spacing);
}



.Page__inner > .Image:first-of-type {
  /* Hero image */
  margin-left: 0;
  margin-right: 0;
}

.Page__inner > .Image + .ImageRow {
  margin-top: var(--spacing-small)
}

.Page__inner > .ImageRow + .ImageRow {
  margin-top: var(--spacing-small)
}

.Page__inner > .ImageRow + .Image {
  margin-top: var(--spacing-small)
}




.Page__inner > .Chapter,
.Page__inner > .ImageTextRow {
  width: 100%;
  max-width: var(--text-content-max-width);
  margin-left: auto;
  margin-right: auto;
}

.Page__inner > .Summary {
  @media (width >= 1024px) {
    margin-left: var(--spacing);
    margin-right: var(--spacing);
  }
  @media (width < 1024px) {
    &:last-child {
      margin-bottom: calc(var(--spacing) * -1);
    }
  }
}

.Page__inner > .CallToAction {
  @media (width >= 1024px) {
    margin-left: var(--spacing);
    margin-right: var(--spacing);
  }
}

.Page__inner > .Image:first-of-type + .CallToAction {
  @media (width < 1024px) {
    margin-top: 0;
  }
}
