.Footer {
  position: relative;
  padding: 0 var(--spacing);
  background-color: var(--color-footer);
  color: var(--color-text-on-footer);
}

.Footer > * {
  margin-top: var(--spacing);

  &:first-child {
    padding-top: calc(var(--spacing-small) * 2);
  }
}

.Footer--secondary {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--spacing);
  background-color: var(--color-footer);
  color: var(--color-text-on-footer);
}

.Footer--secondary > * {
  text-align: center;
  margin-top: var(--spacing-small);

  &:first-child {
    padding-top: calc(var(--spacing-small) * 3);
  }
}

.Footer .Grid {

  @media (width <= 1199px) {
    justify-content: center;
  }

  @media (width <= 800px) {
    display: none;
  }
}



.Footer .Logo {
  display: block;
  justify-content: flex-start;

  @media (width <= 1199px) {
    display: none;
  }
}

.Footer h1 {
  max-width: 1600px;
}


.Footer .Logo svg {
  width: auto;
  height: 60px;
  fill: #fff;
  padding: 0;
}

.Footer address {
  font-size: 20px;
  width: 300px;
  text-align: right;

  @media (width <= 1199px) {
    text-align: center;
  }
}
