.Footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 var(--spacing);
  background-color: var(--color-footer);
  color: var(--color-text-on-footer);
}

.Footer > * {
  text-align: center;
  margin-top: var(--spacing-small);

  &:first-child {
    margin-top: auto;
    padding-top: calc(var(--spacing-small) * 3);
  }
}



.Footer .Logo {
  display: block;
  justify-content: flex-start;
}


.Footer .Logo svg {
  width: auto;
  height: 100px;
  fill: #fff;
  padding: 0;
}

.Footer address {
  font-size: 20px;
  width: 300px;
  text-align: right;
}




.Footer > .FooterBottom {
  position: relative;
  margin-top: calc(var(--spacing-small) * 2);
  padding-top: 0;
  width: 100%;

  &:first-child {
    margin-top: 0;

    &::before {
      content: none;
    }
  }
}
