.BlockQuote {
  font-size: var(--font-size-medium);
  font-style: italic;
  color: var(--color-blue);
  margin-left: -100px;
  margin-top: var(--spacing);
  margin-bottom: var(--spacing);
  max-width: 700px;
}
