.Nudge {
  display: block;
  transition-property: transform;
  transition-duration: var(--animation-duration-slow);
  transition-timing-function: var(--animation-ease);
}

.Nudge--nudgeInstant,
.Nudge--nudged {
  transform: translate3d(0, calc(var(--spacing-small) * -2), 0);

  @media (width >= 768px) {
    transform: translate3d(0, calc(var(--spacing-small) * -4), 0);
  }
}

.Nudge--nudgeInstant {
  transition-property: none;
}
