.Header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  height: calc(var(--spacing-small) * 4);
  padding: 0 var(--spacing);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @media (width >= 768px) {
    padding: 0 var(--spacing);
    justify-content: space-between;
  }
}

.Header--animate {
  opacity: 0;
  transition-property: opacity transform;
  transition-delay: 2s;
  transition-duration: var(--animation-duration-super-slow);
  transition-timing-function: var(--animation-ease);
}

.Header--animate.Header--showContent {
  opacity: 1;
}




.Header {


  @media (width >= 768px) {
  }
}




.Header > .Logo {
  width: 180px;
}




.Header > nav {
  display: none;
  font-size: 16px;

  & > a {
    margin-left: var(--spacing-small);
    text-decoration: none;
    color: var(--color-text-on-background);
    opacity: 0.5;

    &.active,
    &:hover {
      opacity: 1;
    }
  }

  @media (width >= 768px) {
    display: flex;
  }
}
