.Header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-sizing: border-box;
  height: calc(var(--spacing-small) * 4);
  padding: 0 var(--spacing);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.Header--animate {
  opacity: 0;
  transition-property: opacity transform;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-ease);
}

.Header--animate.Header--contentShowing {
  opacity: 1;
}


.Header > .Logo {
  width: 55px;
  transition-duration: 200ms;
  transition-timing-function: var(--animation-ease);
}

.Header .Logo__grid {
  width: 55px;
  padding: 0;
}





.Header > nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 70px;
  padding: var(--spacing);
  line-height: 1.6;
  opacity: 0;
  pointer-events: none;

  transition-property: opacity;
  transition-duration: var(--animation-duration-fast);

  & > a {
    text-decoration: none;
    opacity: 1;

    &.active,
    &:hover {
      opacity: 0.8;
    }
  }
}

.Header--navShowing > nav {
  opacity: 1;
  pointer-events: all;
  background-color: var(--color-blue);
  color: var(--color-background);
}




.Header__toggleNav {
  position: absolute;
  top: calc(var(--spacing-small) * 2) - 9px;
  right: var(--spacing);
  display: block;
  width: 30px;
  height: 20px;
  background-image: url('./header-menu.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
}

.Header--navShowing .Header__toggleNav {
  position: fixed;
  width: 30px;
  height: 30px;
  background-image: url('./header-close.svg');
}
