.Case {
  padding: 0;
}




.Case__inner {
  width: 100%;
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-top: calc(var(--spacing-small) * 4);
}




.Case__inner > .MainTitle {
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.Case__inner > .SubTitle {
  margin-top: calc(var(--spacing-small) * 2);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.Case__inner > hr {
  width: 60px;
  border: 0;
  border-top: 2px solid var(--color-text-on-background);
  margin-left: var(--spacing);
  margin-top: var(--spacing-small);
}

.Case__inner > .Keywords  {
  margin-top: var(--spacing-small);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}

.Case__inner > .Image {
  margin-top: calc(var(--spacing-small) * 2);
}

.Case__inner > .Chapter  {
  margin-top: calc(var(--spacing-small) * 2);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  width: 100%;
  max-width: var(--text-content-max-width);
  margin-left: auto;
  margin-right: auto;
}

.Case__inner > .Summary {
  margin-top: calc(var(--spacing-small) * 2);

  @media (width >= 1024px) {
    margin-left: var(--spacing);
    margin-right: var(--spacing);
  }
}
