.Case {
  padding: 0;
}




.Case__inner {
  width: 100%;
  max-width: var(--content-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-top: calc(var(--spacing-small) * 4);

  /* TODO: Remove this when footer is ready */
  @media (width >= 1024px) {
    padding-bottom: calc(var(--spacing-small) * 4);
  }
}




.Case__inner > * {
  margin-top: calc(var(--spacing-small) * 2);
  padding-left: var(--spacing);
  padding-right: var(--spacing);
}




.Case__inner > .MainTitle {
  margin-top: 0;
}

.Case__inner > .SubTitle {
}

.Case__inner > hr {
  width: 60px;
  margin-left: var(--spacing);
  margin-top: var(--spacing-small);
  border: 0;
  border-top: 2px solid var(--color-text-on-background);
}

.Case__inner > .Keywords  {
  margin-top: var(--spacing-small);
}

.Case__inner > .Image {
  max-width: var(--text-content-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
}

.Case__inner > .Image:first-of-type {
  max-width: none;
}

.Case__inner > .Chapter  {
  width: 100%;
  max-width: var(--text-content-max-width);
  margin-left: auto;
  margin-right: auto;
}

.Case__inner > .Summary {
  @media (width >= 1024px) {
    margin-left: var(--spacing);
    margin-right: var(--spacing);
  }
}
