.TransitionLink {
}

.TransitionLink__externalArrow {
  display: inline-block;
  width: auto;
  height: 12px;
  vertical-align: baseline;
  margin-left: 5px;

  & > * {
    fill: none;
    stroke: #000000;
    stroke-width: 2;
    stroke-miterlimit: 10;
  }
}

.TransitionLink--list {
  display: flex;
  padding: 20px 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255,255,255,.2);

  &:hover {
    background: rgba(255,255,255,.1);
  }
}
