.Hero {
  display: flex;
  align-items: center;
  height: 90vh;
  min-height: 600px;
  padding: 0 var(--spacing);
  box-sizing: border-box;

  opacity: 0;

  transition-property: opacity, height;
  transition-delay: 1s, 0s;
  transition-duration: var(--animation-duration-slow), var(--animation-duration);
  transition-timing-function: var(--animation-ease);
}

.Hero--showContent {
  opacity: 1;
}
