.Hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 400px;
  max-height: 1440px;
  text-align: center;
  padding: 0 var(--spacing);

  opacity: 0;

  transition-property: opacity, height;
  transition-delay: 1s, 0s;
  transition-duration: var(--animation-duration-slow), var(--animation-duration);
  transition-timing-function: var(--animation-ease);

  @media (width >= 768px) {
    min-height: 800px;
  }
}

.Hero--showContent {
  opacity: 1;
}
