.Splash {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-text-on-background);

  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: var(--animation-duration-slow);
  transition-timing-function: var(--animation-ease);

  & > .Logo > svg > * {
    fill: var(--color-background);
  }
}

.Splash--showing {
  opacity: 1;
  pointer-events: all;
}
