.Splash {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: var(--spacing);
  background: linear-gradient(to right, rgba(232,59,59,1) 0%,rgba(243,148,35,1) 19%,rgba(247,232,29,1) 40%,rgba(29,162,68,1) 61%,rgba(38,96,155,1) 81%,rgba(191,50,138,1) 99%);

  opacity: 0;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: var(--animation-duration-slow);
  transition-timing-function: var(--animation-ease);

  & > .Logo > svg > * {
    fill: var(--color-background);
  }
}

.Splash--showing {
  opacity: 1;
  pointer-events: all;
}
