.Stats {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  min-width: 300px;

  & > div {
    width: 50%;
    margin-top: var(--spacing);
    margin-bottom: var(--spacing-medium);

    & > span:first-child {
      display: block;
      font-size: var(--font-size-large);
      line-height: 1;
    }
  }
}
