.LatestBlogPosts {
  animation-name: fadeIn;
  animation-duration: var(--animation-duration);
  animation-iteration-count: 1;
}

.LatestBlogPosts__posts {
  position: relative;
  display: block;
  box-sizing: border-box;
  max-width: var(--content-max-width);
  margin: 0 auto;
  min-height: 415px;
  background-color: transparent;
  transition-property: background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-ease);

  @media (width >= 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--spacing-medium);
    align-items: flex-start;
  }

  @media (width >= 1024px) {
    & {
      min-height: 515px;
    }
  }
}


.LatestBlogPosts .CardsGrid {
  margin-top: var(--spacing);
}



.LatestBlogPosts__posts > .Card {
  height: 100%;
  animation-name: fadeIn;
  animation-duration: var(--animation-duration);
  animation-iteration-count: 1;
  margin-bottom: var(--spacing-small);

  &:last-child {
    margin-bottom: 0;
  }

  & > .Image {
    width: 100%;
    height: 600px;
    background-color: var(--color-accent);
  }

  @media (width >= 768px) {
    margin-bottom: 0;
  }

  @media (width >= 1024px) {
    & > .Image {
      height: 55vw;
    }
  }
}



.LatestBlogPosts__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--spacing-small);
}



@keyframes fadeIn {
  0% { opacity: 0 }
  100% { opacity: 1 }
}
