.Chapter {
  display: block;
  box-sizing: border-box;
}

.Chapter--large p {
  font-size: var(--font-size-medium);
}

.Chapter > * {
  margin-bottom: var(--spacing-medium);

  &:last-child {
    /* margin-bottom: 0; */
  }
}

.Chapter > h5 {
  margin-bottom: var(--spacing-smallest);
}

.Chapter > h2 {
  margin-top: var(--spacing);
}
