.Chapter {
  display: block;
  box-sizing: border-box;

  @media (width >= 1024px) {
    display: var(--chapter-large-device-display, grid);
    grid-template-columns: 1fr 1fr;
    grid-column-gap: var(--spacing-small);
  }
}

.Chapter > * {
  margin-bottom: var(--spacing-small);

  &:last-child {
    /* margin-bottom: 0; */
  }
}

.Chapter > :first-child {
  grid-row-start: span 20;

  /* adjust baseline of next element */
  & + * {
    margin-top: 5px;
  }
}

.Chapter > h5 {
  margin-bottom: calc(var(--spacing-small) / 4);
}
