.Image {
  position: relative;
  display: block;
}

.Image:not(.Image--loaded) {
  background: var(--color-blue);
}

.Image.Image--isHero {
  margin: 50px;
}

.Image.Image--indent,
.Page__inner > .Image.Image--indent {
  margin-right: 0;
  margin-left: calc(var(--spacing) * 2);

  @media (width >= 1024px) {
    margin-left: calc(var(--spacing) * 4);
  }
}





.Image > img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
}

.Image--loaded > img {
  position: absolute;
  top: 0;
  left: 0;
}



.Image > span {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}



.Image__thumb {

}
.Image--thumbHidden .Image__thumb {
  display: none;
}




.Image__main {
  animation-name: fadeIn;
  animation-duration: var(--animation-duration);
  animation-timing-function: var(--animation-ease);
}

.Image--hasThumb .Image__main {
  position: absolute;
  top: 0;
  left: 0;
}

.Image--loaded .Image__main {
  position: relative;
  top: auto;
  left: auto;
}




@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
