.LogoGrid {
  display: block;
  box-sizing: border-box;
  width: 40vw;
  min-width: 300px;
  overflow: hidden;

  @media (width <= 768px) {
    width: 100%;
  }
}




.LogoGrid > ul {
  display: grid;
  grid-gap: var(--spacing-small);
  grid-template-columns: 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}




.LogoGrid > ul > li {
  min-width: 100%;
  height: 200px;


  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    height: 100%;
    padding: var(--spacing-smallest);
    box-sizing: border-box;

    @media (width >= 420px) {
      padding: 0;
    }

    & > div {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 140px;
      max-height: 80px;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
}
