.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 200px;
  min-height: 50px;
  background-color: var(--color-background);
  color: var(--color-text-on-background);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.Button--reversed {
  background-color: var(--color-text-on-background);
  color: var(--color-background);
}

.Button--useAccent {
  background-color: var(--color-accent);
  color: var(--color-text-on-accent);
}
.Button--useAccent.Button--reversed {
  background-color: var(--color-text-on-accent);
  color: var(--color-accent);
}


.Button--outlined {
  background-color: transparent;
  border: 3px solid var(--color-text-on-background);
}
.Button--outlined.Button--reversed {
  border-color: var(--color-background);
}
.Button--outlined.Button--useAccent {
  border-color: var(--text-on-color-accent);
}
.Button--outlined.Button--useAccent.Button--reversed {
  border-color: var(--color-accent);
}
