.Indent {
  margin-left: 15vw;
  padding-left: var(--spacing);
  padding-right: var(--spacing);

  @media (width <= 800px) {
    margin-left: 0;
  }
}

.Indent--twice {
  margin-left: 30vw;

  @media (width <= 800px) {
    margin-left: 20px;
  }
}
