.CookieMonster {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  padding: var(--spacing-smallest);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);

  @media ( width <= 768px ) {
    padding: calc(var(--spacing-small) / 4);
  }

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-background);
    opacity: 0.97;
  }

  & > * {
    position: relative;
  }

  & > p {
    font-size: 12px;

    @media ( width <= 768px ) {
      width: 100%;
      text-align: center;
      margin-bottom: 6px;
    }

    & > a {
      text-decoration: underline;
    }
  }

  & > .Button {
    font-size: 12px;
    min-height: 30px;
    min-width: 120px;
    margin-left: var(--spacing-smallest);
  }
}
