.ContactRow {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-small);

  @media (width >= 1024px) {
    flex-direction: row;
  }

  & > .ContactRow__info {
    margin-right: var(--spacing-large);
  }
}

.ContactRow h2 {
  margin-bottom: var(--spacing-smallest);
}

.ContactRow p {
  font-size: 0.8em;
}




.ContactRow > * {
  flex: 1;
}






.ContactRow__faces {
  padding: 0;
  flex: 2;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (width >= 768px) {
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (width < 768px) {
    padding-right: var(--spacing);
    margin-top: var(--spacing);
    margin-left: 20px;
  }
}

.ContactRow h5 {
  font-size: 0.8em;
}


.ContactRow__faces > li {
  flex: 1;
  display: block;
  margin-bottom: var(--spacing-small);

  @media (width >= 768px) {
    margin-right: var(--spacing-small);
  }

  &:last-child {
    margin-right: 0;
  }
}
