.ContactRow {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-small);

  @media (width >= 1024px) {
    flex-direction: row;
  }
}

.ContactRow p {
  font-size: 20px;
}




.ContactRow > * {
  margin-top: var(--spacing-small);
  flex: 1;
}






.ContactRow__faces {
  padding: 0;
  flex: 2;
  list-style: none;
  display: flex;
  flex-direction: column;

  @media (width >= 768px) {
    flex-direction: row;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.ContactRow h5,
.ContactRow p,
.ContactRow address {
  font-size: 20px;
}


.ContactRow__faces > li {
  flex: 1;
  display: block;
  margin-bottom: calc(var(--spacing-small));

  @media (width >= 768px) {
    margin-right: var(--spacing-small);
  }

  &:last-child {
    margin-right: 0;
  }
}
