.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

.Logo--animate {
  & > svg > * {
    animation-name: letterFadeIn;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-fill-mode: backwards;
    animation-timing-function: var(--animation-ease);
  }
}



.Logo__grid {
  display: block;
  width: 300px;
  max-width: 100%;
  box-sizing: border-box;
  padding: var(--spacing-small);
}

.Logo--useHorizontal .Logo__grid {
  display: none;
}

  @keyframes letterFadeIn {
    60% {
      opacity: 1;
    }
    63% {
      opacity: 0;
    }
    66% {
      opacity: 1;
    }
  }
