.Logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.Logo--animate {
  & > svg > * {
    animation-name: letterFadeIn;
    animation-duration: var(--animation-duration);
    animation-fill-mode: backwards;
    animation-timing-function: var(--animation-ease);
  }
}




.Logo__horizontal {
  display: block;
  width: 1000px;
  max-width: 100%;

  @media ( width < 768px ) {
    display: none;
  }
}

.Logo--useHorizontal .Logo__horizontal {
  display: block;
}




.Logo__grid {
  display: block;
  width: 300px;
  max-width: 100%;
  box-sizing: border-box;
  padding: var(--spacing-small);

  @media ( width >= 768px ) {
    display: none;
  }
}

.Logo--useHorizontal .Logo__grid {
  display: none;
}








@keyframes letterFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
