:root {
  --color-background: #fff;
  --color-text-on-background: #000;

  --animation-duration: 400ms;
  --animation-ease: cubic-bezier(.77,0,.41,.99);
}


html, body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--text-on-background);
}
