:root {
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #193CC8;
  --color-light-gray: #f8f8f8;

  --color-background: #fff;
  --color-text-on-background: #000;

  --color-accent: #f995c7;
  --color-accent: #000;
  --color-text-on-accent: #fff;

  --color-footer: #000;
  --color-text-on-footer: #fff;

  --color-stats: #f8f8f8;
  --color-text-on-stats: #000;

  --animation-duration: 400ms;
  --animation-duration-super-fast: 100ms;
  --animation-duration-fast: 200ms;
  --animation-duration-slow: 1s;
  --animation-duration-super-slow: 4s;
  --animation-ease: cubic-bezier(.77,0,.41,.99);

  --content-max-width: 100vw;
  --text-content-max-width: 1200px;
  --narrow-content-max-width: 800px;

  --font-size-large: 100px;
  --font-size-medium: 60px;
  --font-size-normal: 30px;

  --spacing-small: 40px;
  --spacing: 150px;

  @media (width <= 1199px) {
    --font-size-large: 80px;
    --font-size-medium: 40px;

    --spacing: 40px;
  }

  @media (width <= 800px) {
    --font-size-large: 60px;
    --font-size-medium: 30px;
    --font-size-normal: 24px;

    --spacing: 40px;
  }
}

@font-face {
  font-family: 'apercu-pro';
  src: url('./fonts/apercu-regular-pro.eot');
  src: url('./fonts/apercu-regular-pro.eot?#iefix') format('embedded-opentype'),
    url('./fonts/apercu-regular-pro.woff2') format('woff2'),
    url('./fonts/apercu-regular-pro.woff') format('woff'),
    url('./fonts/apercu-regular-pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'apercu-pro';
    src: url('./fonts/apercu-bold-pro.eot');
    src: url('./fonts/apercu-bold-pro.eot?#iefix') format('embedded-opentype'),
         url('./fonts/apercu-bold-pro.woff2') format('woff2'),
         url('./fonts/apercu-bold-pro.woff') format('woff'),
         url('./fonts/apercu-bold-pro.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}




::selection {
  color: var(--color-white);
  background: var(--color-blue);
}




html, body {
  margin: 0;
  background-color: var(--color-background);
  color: var(--text-on-background);
  font-family: 'apercu-pro', sans-serif;
  font-size: var(--font-size-normal);
  font-weight: normal;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





#root {
  transform-origin: 50% 50%;
  transition-property: opacity transform;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-ease);
}



.Visibility--hidden {
  opacity: 0;
}




h1 {
  font-size: var(--font-size-large);
  font-weight: 500;
  line-height: 1.2;
  margin: 0;

  @media (width >= 1024px) {
    font-size: 120px;
  }
}




h2 {
  font-size: var(--font-size-medium);
  font-weight: 500;
  line-height: 1.2;
  margin: 0;

  @media (width >= 1024px) {
    font-size: 60px;
  }
}




h3 {
  font-size: var(--font-size-normal);
  font-weight: 500;
  line-height: 1.6;
  margin: 0;

  @media (width >= 1024px) {
    font-size: 30px;
  }
}




h4 {
  font-size: var(--font-size-normal);
  font-weight: 500;
  line-height: 1.5;
  margin: 0;

  @media (width >= 1024px) {
    font-size: 30px;
  }
}



h5 {
  font-size: var(--font-size-normal);
  font-weight: bold;
  margin: 0;
}



b {
  font-weight: bold;
}




address,
li,
p {
  margin: 0;
  text-decoration: none;
  font-style: normal;
  font-size: var(--font-size-normal);
  line-height: 1.5;
}


.Button,
.CallToAction a {
  position: relative;
  text-decoration: none;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    bottom: -5px;
    background: currentColor;
  }

  &:hover {
    opacity: 0.7;
  }
}

address,
p {
  &.medium {
    font-size: 20px;
  }

  &.narrow {
    max-width: var(--narrow-content-max-width);
    margin-left: auto;
    margin-right: auto;
  }

  & > a {
    position: relative;
    text-decoration: none;

    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      bottom: -5px;
      background: currentColor;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  & > a > span { display: inline-block }
}



a {
  color: inherit;
  text-decoration: none;
}




.centered {
  text-align: center;
}

.noHyphen {
  hyphens: none;
}

.breakAll {
  word-break: break-all;
}
